.ui.form.green.segment(ng-controller="Input")
  .ui.ribbon.label Load Test Job

  .ui.bottom.aligned.grid
    .row
      .six.wide.column
        .ui.small.input
          label Origin
          input(type='text', placeholder='http://example.com',
                ng-model='origin')
      .two.wide.column
        .ui.small.input
          label Duration (ms)
          input(type='text', placeholder='5000',
                ng-model='duration')
      .two.wide.column
        .ui.small.input
          label Runs
          input(type='text', placeholder='5',
                ng-model='runs')
      .two.wide.column
        .ui.small.input
          label Connections
          input(type='text', placeholder='1',
                ng-model='connections')
      .two.wide.column
        .ui.vertical.animated.button
          .visible.content More
          .hidden.content
            i.down.arrow.icon
    .row
      .sixteen.wide.column
        .ui.green.label Request Sequence
        include sequence

    .row
      .sixteen.center.aligned.wide.column
        .ui.large.blue.submit.button(ng-click="start()",
                                     ng-class="{loading: loading}")
          | Start
        .ui.large.red.submit.button(ng-click="stop()",
                                     ng-class="{disabled: !loading}")
          | Stop