.ui.inputs.form.green.segment(ng-controller="Input")
  .ui.bottom.aligned.grid
    .row
      .six.wide.column
        .ui.small.input
          label Origin
          input(type='text', placeholder='http://example.com',
                ng-model='input.origin')
      .two.wide.column
        .ui.small.input
          label Duration (ms)
          input(type='text', placeholder='5000',
                ng-model='input.duration')
      .two.wide.column
        .ui.small.input
          label Runs
          input(type='text', placeholder='5',
                ng-model='input.runs')
      .two.wide.column
        .ui.small.input
          label Connections
          input(type='text', placeholder='1',
                ng-model='input.connections')
      .two.wide.column
        .ui.vertical.animated.button(ng-click='more = !more')
          .visible.content(ng-bind='more && "Less" || "More"') More
          .hidden.content
            i.arrow.icon(ng-class='more && "up" || "down"')

    .row(ng-show='more')
      .eight.wide.column
        .ui.basic.segment(ng-class="{faded: seq.method == 'GET'}")
          | foo
      .eight.wide.column
        .ui.basic.segment
          .ui.grid(ng-init="input.headers = [{}]")
            .row
              .eight.wide.column: .ui.small.input
                label Header Name
              .eight.wide.column: .ui.small.input
                label Header Value
            .row(ng-repeat="h in input.headers")
              .eight.wide.column: .ui.small.input
                input(type='text',
                      placeholder='Content-type',
                      ng-model="h.key",
                      ng-change="check(input.headers, 'key', 'value')")
              .eight.wide.column: .ui.small.input
                input(type='text',
                      placeholder='application/json',
                      ng-model="h.value",
                      ng-change="check(input.headers, 'key', 'value')")
    .row
      .sixteen.center.aligned.wide.column
        .ui.form.basic.segment
          include sequence
    .row
      .sixteen.center.aligned.wide.column
        .ui.large.blue.submit.button(ng-click="start()", ng-class="{loading: loading}")
          | Start
        .ui.large.red.submit.button(ng-click="stop()", ng-class="{disabled: !loading || !polling}")
          | Stop
