

.ui.green.label: h4 REQUEST SEQUENCE
.ui.raised.green.segment(ng-repeat="seq in input.sequence",
                         ng-class="{faded: !seq.path}")
  .ui.grid(style="padding-bottom:10px")
    //- method and path
    .bottom.aligned.row
      .four.wide.column
        .ui.small.input
          label Method
          .ui.buttons
            .ui.tiny.button(ng-repeat="m in methods",
                            ng-click="seq.method = m;"
                            ng-class="{blue:seq.method == m}") {{ m }}
      .three.wide.column
        .ui.small.input
          label Path
          input(type='text', placeholder='/',
                ng-model="seq.path",
                ng-change="check(input.sequence, 'path')")

      .four.wide.column
        .ui.small.input
          label Expectation
          .ui.buttons(ng-init="seq.$expect = 'status'; seq.expect = {status:200};")
            .ui.tiny.button(ng-repeat="(code,str) in expects"
                            ng-click="seq.expect = {}; seq.$expect = code;"
                            ng-class="{blue:seq.$expect == code}") {{ code }}
      .three.wide.column
        .ui.small.input(ng-repeat="(code,str) in expects",
                        ng-show="seq.$expect == code")
          label Expect {{ str }}
          input(type='text', ng-model="seq.expect[code]")

      .two.wide.column
        .ui.vertical.animated.button(ng-click='more = !more')
          .visible.content(ng-bind='more && "Less" || "More"') More
          .hidden.content
            i.arrow.icon(ng-class='more && "up" || "down"')

    //- headers and forms
    .row(ng-show='more')
      .eight.wide.column
        .ui.basic.segment
          .ui.grid(ng-init="seq.form = [{}]")
            .row
              .eight.wide.column: .ui.small.input
                label Form Field Name
              .eight.wide.column: .ui.small.input
                label Form Field Value
            .row(ng-repeat="f in seq.form")
              .eight.wide.column: .ui.small.input
                input(type='text',
                  placeholder='foo',
                  ng-model="f.key",
                  ng-change="check(seq.form, 'key', 'value')")
              .eight.wide.column: .ui.small.input
                input(type='text',
                  placeholder='42',
                  ng-model="f.value",
                  ng-change="check(seq.form, 'key', 'value')")
      .eight.wide.column
        .ui.basic.segment
          .ui.grid(ng-init="seq.headers = [{}]")
            .row
              .eight.wide.column: .ui.small.input
                label Header Name
              .eight.wide.column: .ui.small.input
                label Header Value
            .row(ng-repeat="h in seq.headers")
              .eight.wide.column: .ui.small.input
                input(type='text',
                      placeholder='Content-type',
                      ng-model="h.key",
                      ng-change="check(seq.headers, 'key', 'value')")
              .eight.wide.column: .ui.small.input
                input(type='text',
                      placeholder='application/json',
                      ng-model="h.value",
                      ng-change="check(seq.headers, 'key', 'value')")
