
.ui.raised.green.segment(ng-repeat="seq in input.sequence",
                         ng-class="{faded: !seq.method && !seq.path}")
  .ui.bottom.aligned.grid(style="padding-bottom:10px")
    //- method and path
    .row
      .two.wide.column
        .ui.small.input
          label Method
          input(type='text', placeholder='GET',
                ng-model="seq.method",
                ng-change="updateSeqence()")
      .four.wide.column
        .ui.small.input
          label Path
          input(type='text', placeholder='/',
                ng-model="seq.path",
                ng-change="updateSeqence()")
      .two.wide.column
        .ui.small.input
          label Expect Code
          input(type='text', placeholder='200')
      .two.wide.column
        .ui.small.input
          label Expect Contains
          input(type='text')
      .two.wide.column
        .ui.small.input
          label Expect Match
          input(type='text')
      .two.wide.column
        .ui.vertical.animated.button(ng-click='more = !more')
          .visible.content(ng-bind='more && "Less" || "More"') More
          .hidden.content
            i.arrow.icon(ng-class='more && "up" || "down"')

    //- headers and forms
    .row(ng-show='more')
      .eight.wide.column
        .ui.basic.segment
          .ui.grid
            .eight.wide.column: .ui.small.input
              label Header
              input(type='text', placeholder='Content-type')
            .eight.wide.column: .ui.small.input
              label Value
              input(type='text', placeholder='application/json')
      .eight.wide.column
        .ui.basic.segment
          .ui.grid
            .eight.wide.column: .ui.small.input
              label Key
              input(type='text', placeholder='foo')
            .eight.wide.column: .ui.small.input
              label Value
              input(type='text', placeholder='42')