!!!5
html
  head
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/css/semantic.min.css")
    link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto+Condensed")
    link(rel="stylesheet", href="/css/app.css")

  body(ng-app="load-tester")

    a(href="https://github.com/jpillora/node-load-tester")
      img(style="position: absolute; z-index: 2; top: 0; right: 0; border: 0;",
          src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png",
          alt="Fork me on GitHub")

    include app/input
    include app/output

    .ui.right.aligned.basic.segment
      .ui.blue.label
        a(href="http://github.com/jpillora") jpillora
        |  MIT &copy; 2013

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery#{min}.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.9.3/javascript/semantic#{min}.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular#{min}.js")
    //- script(src="//cdn.sockjs.org/sockjs-0.3.min.js")
    script(src="/js/app.js")

